.leaflet-control-dialog .leaflet-control-dialog-inner{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-grabber{
  position: absolute;
  width: 20px;
  height: 10px;
  top: 0px;
  left: 0px;
  padding: 3px;
  font-size: 15px;
  line-height: 15px;
  color: #ccc;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-close{
  position: absolute;
  width: 20px;
  height: 10px;
  top: 0px;
  right: 0px;
  padding: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}
	
.leaflet-control-zoom-display {
   background-color: #FFFFFF;
}

.legendTable {
   color: #000000;
   table-layout:fixed;
   vertical-align: middle;
   border: 1px solid black;
   margin: 8px 0px;
}

.legendTable td { overflow: hidden; }

.legendTable img {
   width: 16px;
   height: 16px;
}



